@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Roboto:wght@400;700&display=swap");
.wrapper__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 165px 0 165px;
  width: 1110px;
  margin: auto;
  overflow: hidden;
}

.wrapper__header {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__header .header__search {
  padding-left: 48px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.wrapper__header .header__search input {
  padding: 10px 0 10px 12px;
  background-color: #edeef2;
  border-radius: 10px;
  border: none;
  width: 224px;
}

.wrapper__header ul {
  list-style: none;
}

.wrapper__header ul li {
  padding-left: 28px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #2b2b43;
}

.wrapper__header .header__separator {
  border-right: 2px solid #edeef2;
  width: 1px;
  color: rgba(0, 0, 0, 0);
}

.wrapper__header a {
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #2b2b43;
}

.wrapper__header .header__orders_button {
  width: 48px;
  height: 48px;
  border-radius: 15px;
  background-color: #f3f4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__header .header__avatar {
  width: 48px;
  height: 48px;
}

.wrapper__header .header__avatar img {
  border-radius: 15px;
  outline: 3px solid #edeef2;
}

.main__discount {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__discount .main__discount_block {
  width: 540px;
  height: 188px;
  background-color: #f3f4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
}

.main__discount .main__discount_block .discount__logo {
  width: 290px;
}

.main__discount .main__discount_block .discount__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10%;
  position: relative;
  padding-left: 30px;
}

.main__discount .main__discount_block .discount__txt .discount__txt_article {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #2b2b43;
}

.main__discount .main__discount_block .discount__txt .discount__txt_sum {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #4e60ff;
}

.main__discount .main__discount_block .discount__txt .discount__txt_type {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #83859c;
  position: absolute;
  bottom: 5px;
}

.main__ingridients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.main__ingridients .main__ingridients_block {
  width: 160px;
  height: 80px;
  outline: 1px solid #edeef2;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url("../imgs/Group.png"), auto;
  color: #545563;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__ingridients .main__ingridients_block img {
  width: 24px;
  height: 24px;
}

.main__ingridients .main__ingridients_block p {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.main__ingridients .main__ingridients_block_clicked {
  outline: 3px solid #4e60ff;
  color: #4e60ff;
  background-color: #f3f4ff;
}

.main__restaurant {
  padding-top: 40px;
}

.main__restaurant .main__article {
  padding-bottom: 16px;
}

.main__restaurant .main__article p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #2b2b43;
}

.main__restaurant .wrapper__main_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block {
  height: 276px;
  width: 350px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 1px solid #edeef2;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .restaurant__block_featured {
  position: absolute;
  right: 0;
  padding: 8px 16px;
  color: #fff;
  background-color: #4e60ff;
  border-radius: 0 0 0 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 11px;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .restaurant__block_img {
  width: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .restaurant__block_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .restaurant__block_article p {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2b2b43;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .restaurant__block_article img {
  -o-object-fit: none;
     object-fit: none;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .restaurant__block_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .restaurant__block_info img {
  -o-object-fit: none;
     object-fit: none;
  padding-right: 6px;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .restaurant__block_info .restaurant__block_dot {
  background-color: #4e60ff;
  width: 3px;
  height: 3px;
  margin: 0 8px 0 8px;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .restaurant__block_info p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #83859c;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .wrapper__restaurant_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .wrapper__restaurant_type .restaurant__block_type {
  margin-right: 15px;
  width: 70px;
  height: 24px;
  background-color: #edeef2;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .wrapper__restaurant_type .restaurant__block_type img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.main__restaurant .wrapper__main_restaurant .main__restaurant__block .wrapper__restaurant_txt .wrapper__restaurant_type .restaurant__block_type p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #545563;
}

.restaurant__img_bag {
  position: relative;
}

.bag__popup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -10px;
  right: -10px;
  height: 16px;
  width: 16px;
  background-color: #4e60ff;
  border: 2px solid white;
  border-radius: 7px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: white;
  -webkit-transition: display 1s, background-color 1s, width 1s;
  transition: display 1s, background-color 1s, width 1s;
}

.cross_line {
  height: 1px;
  width: 1980vw;
  margin-left: -30vw;
  background-color: #edeef2;
}
/*# sourceMappingURL=main.css.map */