@import 'fonts.scss';
.wrapper__main {
  display: flex;
  flex-direction: column;
  padding: 0 165px 0 165px;
  width: 1110px;
  margin: auto;
  overflow: hidden;
}
.wrapper__header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header__search {
    padding-left: 48px;
    flex-basis: 40%;
    input {
      padding: 10px 0 10px 12px;
      background-color: #edeef2;
      border-radius: 10px;
      border: none;
      width: 224px;
    }
  }
  ul {
    list-style: none;
    li {
      padding-left: 28px;
      display: inline-block;
      @include ffa($nu, 700, 14px);
      color: $logocol;
    }
  }
  .header__separator {
    border-right: 2px solid #edeef2;
    width: 1px;
    color: rgba($color: #000000, $alpha: 0);
  }
  a {
    text-decoration: none;
    justify-self: center;
    @include ffa($nu, 700, 14px);
    color: $logocol;
  }
  .header__orders_button {
    width: 48px;
    height: 48px;
    border-radius: 15px;
    background-color: $btnblu;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__avatar {
    width: 48px;
    height: 48px;
    img {
      border-radius: 15px;
      outline: 3px solid #edeef2;
    }
  }
}
.main__discount {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .main__discount_block {
    width: 540px;
    height: 188px;
    background-color: $btnblu;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    .discount__logo {
      width: 290px;
    }
    .discount__txt {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 10%;
      position: relative;
      padding-left: 30px;
      .discount__txt_article {
        @include ffa($nu, 600, 20px);
        color: $logocol;
      }
      .discount__txt_sum {
        @include ffa($nu, 800, 40px);
        color: #4e60ff;
      }
      .discount__txt_type {
        @include ffa($nu, 400, 14px);
        color: $inpcol;
        position: absolute;
        bottom: 5px;
      }
    }
  }
}
.main__ingridients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
  .main__ingridients_block {
    width: 160px;
    height: 80px;
    outline: 1px solid #edeef2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url('../imgs/Group.png'), auto;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      @include ffa($nu, 700, 13px);
      color: $logcol;
    }
  }
}

.main__restaurant {
  padding-top: 40px;
  .main__article {
    padding-bottom: 16px;
    p {
      @include ffa($nu, 600, 20px);
      color: $logocol;
    }
  }
  .wrapper__main_restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .main__restaurant__block {
      height: 276px;
      width: 350px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      outline: 1px solid #edeef2;
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
      .restaurant__block_featured {
        position: absolute;
        right: 0;
        padding: 8px 16px;
        color: #fff;
        background-color: #4e60ff;
        border-radius: 0 0 0 15px;
        @include ffa($nu, 700, 11px);
      }
      .restaurant__block_img {
        width: 350px;
        object-fit: contain;
      }
      .wrapper__restaurant_txt {
        padding: 16px;
        display: flex;
        flex-direction: column;
        .restaurant__block_article {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 6px;
          p {
            @include ffa($nu, 700, 18px);
            color: $logocol;
          }
          img {
            object-fit: none;
          }
        }
        .restaurant__block_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 14px;

          img {
            object-fit: none;
            padding-right: 6px;
          }
          .restaurant__block_dot {
            background-color: $blucol;
            width: 3px;
            height: 3px;
            margin: 0 8px 0 8px;
          }
          p {
            @include ffa($nu, 600, 12px);
            color: $inpcol;
          }
        }
        .restaurant__block_type {
          width: 70px;
          height: 24px;
          background-color: #edeef2;
          border-radius: 25px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          img {
            width: 14px;
            height: 14px;
            margin-right: 8px;
          }
          p {
            @include ffa($nu, 600, 12px);
            color: $logcol;
          }
        }
      }
    }
  }
}
.restaurant__img_bag {
  position: relative;
}
.geek {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  height: 16px;
  width: 16px;
  background-color: $blucol;
  border: 2px solid white;
  border-radius: 7px;
  @include ffa($nu, 700, 10px);
  color: white;
  transition: display 1s, background-color 1s, width 1s;
}
.cross_line {
  height: 1px;
  width: 1980vw;
  margin-left: 70vw - 100vw;
  background-color: #edeef2;
}
